# Full installation files.
.manifest
NetGamesUSA.com
System/*-bin
System/*.int
System/*.ini
System/*.log
Help/*.txt
Help/*.ico
Help/*.bmp
Help/*.htm
Textures/*.utx
Sounds/*.uax
Music/*.umx
Maps/*.unr
Web/*.uhtm
Web/*.uhtm
Web/**/*.uhtm
Web/**/*.gif
README
README.Loki
README.bonus.pack.collection
icon.bmp
icon.xpm
Logs
System/de-logo.bmp
ucc
uninstall
ut
ut.xpm

# Generated project and IDE files.
Makefile
*.Makefile
*.mk
*.sdf
*.sln
*.suo
*.ncb
*.vcproj
*.vcproj.*
*.vcxproj
*.vcxproj.*
*.opensdf

# Build products.
out
System/Surreal
System/UnrealTournament
System/ucc
System/*.so*
System/*.u
System/*.exe
System/*.lib
System/*.dll
System/*.exp
System/*.ilk
